@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Outfit:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "Times New Roman", serif;
  --font-mono: "IBM Plex Mono", monospace;

  --background: 0 0% 100%;
  --foreground: 222 47% 11%;

  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --card-border: 214 32% 91%;

  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;
  --popover-border: 214 32% 91%;

  --primary: 0 76% 47%;
  --primary-foreground: 0 0% 100%;
  --primary-border: #d81918;

  --secondary: 210 40% 96%;
  --secondary-foreground: 222 47% 11%;
  --secondary-border: #cbd5e1;

  --muted: 210 40% 96%;
  --muted-foreground: 215 16% 47%;
  --muted-border: #e2e8f0;

  --accent: 28 94% 94%;
  --accent-foreground: 24 95% 36%;
  --accent-border: #fdba74;

  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --destructive-border: #dc2626;

  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 0 76% 47%;

  --button-outline: #cbd5e1;
  --badge-outline: #cbd5e1;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Outfit", var(--font-sans);
  }
}
